h1 {
    font-size: var(--fs1);
}

h2 {
    font-size: var(--fs2);
}

h3 {
    font-size: var(--fs3);
}

.infractions {
    width: calc(100vw - 24px);
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;

    overflow-y: hidden;

    text-transform: uppercase;

    @media (width >=62.5rem) {
        width: 70vw;
    }

    @media (width>=62.5rem) and (height>=37.5rem) {
        height: 95vh;
        overflow-y: hidden;
    }
}

.top {
    padding: 0.25rem 0rem 0.25rem 0rem;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.top_text {
    padding: 0.25rem 0rem 0.25rem 1.5rem;
    opacity: 0;
}

.top_text.visible {
    animation: textLoadIn 200ms linear;
    opacity: 1;
}

.top_text.white.visible {
    color: white;
}

.infractions_scrollable {
    width: calc(100vw - 24px);
    overflow-x: auto;
    @media (width>=62.5rem) and (height>=37.5rem) {
        width: 100%;
        height: 85vh;
        overflow-y: auto;
    }
}

.infractions_table {
    width: 100%;
    border-collapse: collapse;
}

th {
    width: 100%;
    
    
    background-color: var(--green3);
    text-align: left;

}

th:nth-child(1) {
    min-width: 15ch;
    padding: 0rem 0rem 0rem 1rem;
    width: 60%;
}

td:nth-child(1) {
    padding: 0rem 0rem 0rem 1rem;
    width: 60%;
}

th:nth-child(2),
th:nth-child(3) {
    width: 20%;
    text-align: center;
}

tr{
    height: 2.5rem;
}

tr:nth-child(even){
    background-color: var(--green3);
}
/* .odd_row {
    background-color: var(--green3);
} */