h1 {
    font-size: var(--fs1);
}

h2 {
    font-size: var(--fs2);
}

h3 {
    font-size: var(--fs3);
}

.infractions {
    width: calc(100vw - 24px);
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;

    overflow-y: hidden;

    text-transform: uppercase;

    @media (width >=62.5rem) {
        width: 70vw;
    }

    @media (width>=62.5rem) and (height>=37.5rem) {
        height: 95vh;
        overflow-y: hidden;
    }
}

.top {
    padding: 0.25rem 0rem 0.25rem 0rem;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.top_text {
    padding: 0.25rem 0rem 0.25rem 1.5rem;
    opacity: 0;
}

.top_text.visible {
    animation: textLoadIn 200ms linear;
    opacity: 1;
}

.top_text.white.visible {
    color: white;
}

.infractions_scrollable {
    width: calc(100vw - 24px);
    overflow-x: auto;

    @media (width>=62.5rem) and (height>=37.5rem) {
        width: 100%;
        height: 85vh;
        overflow-y: auto;
    }
}

.infractions_table {
    width: 100%;
    border-collapse: collapse;
}

tr {
    height: 2.5rem;
    opacity: 0;
}

tr.visible {
    opacity: 1;
    transition: opacity 50ms linear;
}

tr:nth-child(even) {
    background-color: var(--green3);
}

th {
    background-color: var(--green3);
}

th:nth-child(1) {
    min-width: 15ch;
    color: transparent;
}

th:nth-child(2),
th:nth-child(3) {
    padding: 0rem .5rem;
    text-align: center;
    color: transparent;
}

th.column_visible:nth-child(1),
th.column_visible:nth-child(2),
th.column_visible:nth-child(3) {
    color: var(--green1);
    transition: color 100ms linear;
}

td:nth-child(1) {
    padding: 0rem 0rem 0rem 1.5rem;
    color: transparent;
}

td:nth-child(2),
td:nth-child(3) {
    color: transparent;
}

td.column_visible:nth-child(1) {
    color: var(--green1);
    transition: color 100ms linear;
}

td.column_visible:nth-child(2),
td.column_visible:nth-child(3) {
    transition: color 100ms linear;
    color: white;
}