h1 {
    font-size: var(--fs1);
}

h2 {
    font-size: var(--fs2);
}

h3 {
    font-size: var(--fs3);
}

.sheet {
    width: calc(100vw - 24px);
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;

    overflow-y: hidden;

    @media (width >=62.5rem) {
        width: 70vw;
    }

    @media (width>=62.5rem) and (height>=37.5rem) {
        height: 95vh;
        overflow-y: hidden;
    }
}

/* STATS */
.stats {
    padding: 0.75rem 0rem 0.75rem 0rem;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    @media (width>=37.5rem) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    @media (width>=62.5rem) and (height>=37.5rem) {
        height: 40vh;
    }

    background: repeating-linear-gradient(-45deg,
        var(--green2) 0px,
        var(--green2) 10px,
        var(--green3) 10px,
        var(--green3) 20px);
    background-size: 112.87px;
    animation: moveStripes 2s linear infinite;

}

.stats_text {
    padding: 0.75rem 0rem 0.75rem 1.5rem;

    display: flex;
    align-items: center;
    align-content: center;

    @media (width>=37.5rem) {
        width: calc(50% - 0.75rem);
    }

    opacity: 0;
}

.stats_text.visible {
    opacity: 1;
    animation: textLoadIn 200ms linear none;
}

.stats_text.white.visible {
    color: white;
}

/* MAIN MENU */
.main_menu {

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;

}

.menu_heading {
    padding: 0.5rem 0rem 0.5rem 1rem;

    display: flex;
    align-items: center;
    opacity: 0;
}

.menu_heading.visible {
    opacity: 1;
    animation: textLoadIn 200ms linear none;
}

.scrollable_menu {
    @media (width>=62.5rem) and (height>=37.5rem) {
        max-height: 40vh;
        overflow-y: auto;
    }
}

a {
    display: block;
    text-decoration: none;
}

a:hover {
    color: white;
    animation: pageHover 2s infinite step-start;
}

.page {
    display: flex;
    padding: 0.5rem 0rem 0.5rem 1rem;
    align-items: center;
    opacity: 0;
}

.page.visible {
    opacity: 1;
    animation: textLoadIn 200ms linear none
}

.page::before {
    content: "";
    /* display: inline-block; */
    width: 25px;
    height: 25px;
    margin-right: 2%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 40 40'%3E%3Crect width='40' height='40' fill='%23a4e043'/%3E%3C/svg%3E");
    background-size: cover;
}

a:hover .page::before {
    content: "";
    /* display: inline-block; */
    width: 25px;
    height: 25px;
    margin-right: 2%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 40 40'%3E%3Crect width='40' height='40' fill='%23a4e043'/%3E%3Ccircle cx='20' cy='20' r='12' fill='black'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
}

@keyframes moveStripes {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 112.87px 0px;
    }
}

@keyframes pageHover {

    0%,
    100% {
        background-color: var(--green3);
    }

    50% {
        background-color: var(--green2);
    }
}

@keyframes textLoadIn {
    0% {
        opacity: 0;
        color: white;
    }

    60% {
        opacity: 1;
        color: white;
    }

    100% {
        opacity: 1;
    }
}