h1 {
    font-size: var(--fs1);
}

h2 {
    font-size: var(--fs2);
}

h3 {
    font-size: var(--fs3);
}

ul {
    list-style-type: none;
}

.summary {
    width: calc(100vw - 24px);
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;

    overflow-y: hidden;

    text-transform: uppercase;

    @media (width >=62.5rem) {
        width: 70vw;
    }

    @media (width>=62.5rem) and (height>=37.5rem) {
        height: 95vh;
        overflow-y: hidden;
    }

}

.scrollable_summary {
    @media (width>=62.5rem) and (height>=37.5rem) {
        height: 85vh;
        overflow-y: auto;
    }
}

.top {
    padding: 0.25rem 0rem 0.25rem 0rem;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.top_text {
    padding: 0.25rem 0rem 0.25rem 1.5rem;
    opacity: 0;
}

.top_text.visible {
    animation: textLoadIn 200ms linear;
    opacity: 1;
}

.top_text.white.visible {
    color: white;
}

.summary_banner {
    min-height: 20vh;
    padding: 1rem 1rem 1rem 2rem;
    background: repeating-linear-gradient(-45deg,
            var(--green2) 0px,
            var(--green2) 10px,
            var(--green3) 10px,
            var(--green3) 20px);
    background-size: 112.87px;
    animation: moveStripes 2s linear infinite;
    opacity: 0;
    transition: opacity 100ms linear;
}

.summary_banner.visible {
    opacity: 1;
}

.bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.data_block {
    min-width: 50%;
    padding: 0rem 1rem 1rem 0rem;

    opacity: 0;
    transition: opacity 200ms linear;
}

.data_block.visible {
    opacity: 1;
}

.data_text{
    padding: 0.25rem 0rem 0.25rem 1.5rem;
}

@keyframes moveStripes {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 112.87px 0px;
    }
}

@keyframes textLoadIn {
    0% {
        opacity: 0;
        color: white;
    }

    60% {
        opacity: 1;
        color: white;
    }

    100% {
        opacity: 1;
    }
}