ul {
    list-style-type: none;
}

.summary {
    width: calc(100vw - 24px);
    min-height: 90vh;
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;

    @media (width >=1000px) {
        width: 70vw;
    }

}

.summary .summary_scrollable {
    max-height: 73vh;

    @media (width >=1000px) {
        overflow-y: auto;
    }
}

.top {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

}

.top .top_text,
.top .top_text_white,
.top .top_text_hidden {
    padding: 0rem 0rem 0rem 1rem;

}

.top .top_text,
.top .top_text_white {
    animation: textLoadIn 200ms linear;
}

.top .top_text_white {
    color: white;
}

.top .top_text_hidden {
    opacity: 0;
}

.dotted_line.banner {
    animation-delay: 700ms;
}

.summary .summary_banner,
.summary_banner_hidden {
    min-height: 20vh;
    padding: 1rem 1rem 1rem 2rem;
    background: repeating-linear-gradient(-45deg,
            var(--green2) 0px,
            var(--green2) 10px,
            var(--green3) 10px,
            var(--green3) 20px);
    background-size: 112.87px;
    animation: moveStripes 2s linear infinite;
    opacity: 0;
    /* Initially transparent */
    transition: opacity 100ms linear;
    /* Transition for opacity */
}

.summary .summary_banner {
    opacity: 1;
}

.summary .bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.summary .bottom .data_block,
.summary .bottom .data_block_hidden {
    min-width: 50%;
    padding: 0rem 1rem 1rem 1rem;

    opacity: 0;
    transition: opacity 200ms linear;
}

.summary .bottom .data_block {
    opacity: 1;
}

.dotted_line.footer {
    animation-delay: 1500ms;
}

@keyframes moveStripes {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 112.87px 0px;
    }
}

@keyframes textLoadIn {
    0% {
        opacity: 0;
        color: white;
    }

    60% {
        opacity: 1;
        color: white;
    }

    100% {
        opacity: 1;
    }
}