h1 {
    font-size: var(--fs1);
}

h2 {
    font-size: var(--fs2);
}

h3 {
    font-size: var(--fs3);
}

.top_pursuits {
    width: calc(100vw - 24px);
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;

    overflow-y: hidden;

    text-transform: uppercase;

    @media (width >=62.5rem) {
        width: 70vw;
    }

    @media (width>=62.5rem) and (height>=37.5rem) {
        height: 95vh;
        overflow-y: hidden;
    }
}

.top {
    padding: 0.25rem 0rem 0.25rem 0rem;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.top_text {
    padding: 0.25rem 0rem 0.25rem 1.5rem;
    opacity: 0;
}

.topPursuits_scrollable {
    width: calc(100vw - 24px);
    overflow-x: auto;

    @media (width>=62.5rem) and (height>=37.5rem) {
        width: 100%;
        height: 85vh;
        overflow-y: auto;
    }
}

.data {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    margin: 1rem 0rem;

    opacity: 0;
}

.link {
    color: inherit;
    display: block;
    text-decoration: none;
}

.link:hover {
    animation: pageHover 2s infinite step-start;
}

.rank {
    min-width: 2rem;
    /* padding: 0.5rem 0rem; */
    background-color: var(--green2);
    color: black;
}

.stat {
    padding: 0rem 0rem 0rem 1rem;
    display: flex;
    flex-wrap: wrap;
}

.car {
    color: white;
    min-width: 100%;
}

.detail {
    width: 50%;
}

.detail:nth-child(odd) {
    text-align: right;
}

@keyframes pageHover {

    0%,
    100% {
        background-color: var(--green3);
    }

    50% {
        background-color: var(--green2);
    }
}

/* format classes */
.visible {
    opacity: 1;
    transition: opacity 100ms linear;
}

.visible_text {
    color: inherit;
    transition: color 100ms linear;
}

.white {
    color: white;
}