h1 {
    font-size: var(--fs1);
}

h2 {
    font-size: var(--fs2);
}

h3 {
    font-size: var(--fs3);
}

.vehicleData {
    width: calc(100vw - 24px);
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;

    overflow-y: hidden;

    text-transform: uppercase;

    @media (width >=62.5rem) {
        width: 70vw;
    }

    @media (width>=62.5rem) and (height>=37.5rem) {
        height: 95vh;
        overflow-y: hidden;
    }
}

.top {
    padding: 0.25rem 0rem 0.25rem 0rem;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
}

.top_text {
    padding: 0.25rem 0rem 0.25rem 1.5rem;
    opacity: 0;
}

.top_text.visible {
    animation: textLoadIn 200ms linear none;
    opacity: 1;
}

.top_text.white.visible {
    color: white;
}

.scrollable_data {
    @media (width>=62.5rem) and (height>=37.5rem) {
        height: 85vh;
        overflow-y: auto;
    }

    opacity: 0;
    transition: opacity 200ms linear;
}

.scrollable_data.visible {
    opacity: 1;
}

.vehicle_info {
    padding: 1rem 0rem 1rem 0rem;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    @media (width>=600px) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.heading {
    width: 100%;

    padding: 0.25rem 0rem 0.25rem 1.5rem;

    background-color: var(--green3);

    display: flex;
    align-items: center;
    text-transform: none;

    @media (width>=600px) {
        width: 50%;
    }
}

.info {
    width: 100%;
    padding: 0.25rem 0rem 0.25rem 1.5rem;

    display: flex;
    align-items: center;

    @media (width>=600px) {
        width: 50%;
    }
}

@keyframes textLoadIn {
    0% {
        opacity: 0;
        color: white;
    }

    60% {
        opacity: 1;
        color: white;
    }

    100% {
        opacity: 1;
    }
}