h1 {
    font-size: var(--fs1);
}

h2 {
    font-size: var(--fs2);
}

h3 {
    font-size: var(--fs3);
}

.button {
    height: 7vh;
    min-width: 30%;
    padding: 0.25rem 0.25rem;
    
    display: flex;
    align-items: center;
    
    font-size: inherit;
    color: var(--green1);
    background-color: var(--green2);
    border: 3.5px solid var(--green1);
}

.symbol {
    min-width: 2rem;
    padding: 0.25rem 0.5rem;
    border-radius: 10px;
    
    display: flex;
    align-items: center;

    background-color: black;
    border: 3.5px solid var(--green1);
}

.text {
    padding: 0.25rem 0.55rem;
}