.dotted_line {
    min-height: 1vh;
    background: repeating-linear-gradient(to right,
            #88AA44,
            #88AA44 1%,
            transparent 1%,
            transparent 2%);
    margin: 1vh 0;

    opacity: 0;
    animation: extendLine 0.25s linear forwards;
}

@keyframes extendLine {
    0% {
        transform: scaleX(5); /* Start fully squished */
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: scaleX(1); /* Fully extended */
    }
}