h1 {
    font-size: var(--fs1);
}

h2 {
    font-size: var(--fs2);
}

h3 {
    font-size: var(--fs3);
}


.footer {
    height: 8vh;
    padding: 0.25rem 0rem 0rem 0rem;

    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: baseline;
    gap: 1%;

    font-size: var(--fs2);
}

.footer .button_panel {
    width: 59%;

    font-size: var(--fs3);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
    gap: 1rem;

    text-transform: none;
    animation: fadeIn 0.5s linear;
}

.footer .banner_panel {
    width: 40%;

    display: flex;
    align-items: center;
    justify-content: flex-end;


    animation-name: slideUp;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.footer .banner_panel .footer_banner {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@keyframes slideUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    10% {
        transform: translateY(0%);
        opacity: 1;
    }

    90% {
        transform: translateY(0%);
        opacity: 1;
    }

    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}