.header{
    /* min-height: 50px; */
    /* min-height: 30%; */
    min-height: 10vh;
    padding: 0rem 0rem 0rem 1rem;

    display: flex;
    align-items: center;

    font-size: var(--fs1);
    color: black;
    background-color: var(--green1); /* Neon Green */;
    
    
    -webkit-text-stroke: 1px black;
}