.button{
    /* height: 100%; */
    min-width: 30%;
    padding: 0.25rem 0.25rem 0.25rem 0.25rem;

    font-size: inherit;
    color: var(--green1);
    background-color: var(--green2);
    border: 3px solid var(--green1);
    
    
    display: flex;
    align-items: center;
}

.button .symbol{
    min-width: 2rem;
    padding: 0.25rem 0.25rem 0.25rem 0.25rem;
    border-radius: 5px;

    background-color: black;
    border: 3px solid var(--green1);

    display: flex;
    align-items: center;
}

.button .text{
    padding: 0.25rem;
}