.cost-to-state {
    width: calc(100vw - 24px);
    min-height: 90vh;
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;

    @media (width >=1000px) {
        width: 70vw;
    }
}

.cost-to-state .top {
    padding: 0.5rem 1rem 0.5rem 1rem;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;

    color: white;
}

.cost-to-state .top h2 {
    width: 50%;
}

.cost-to-state .top .bounty {
    display: flex;
    justify-content: end;
}

.cost-to-state .top .top-text,
.cost-to-state .top .top-text-hidden,
.cost-to-state .top .top-text-white {
    padding: 0rem 0rem;
    font-size: var(--fs2);
}

.cost-to-state .top .top-text-white {
    color: white;
}

.cost-to-state .top .top-text {
    animation: textLoadIn 200ms linear none;
}

.cost-to-state .top .top-text-hidden {
    opacity: 0;
}

.cost-to-state .cost-data {
    height: 50vh;
    padding: 0.5rem 0rem;

    overflow: auto;

    font-size: var(--fs2);
}

.cost-to-state .cost-data table {
    width: 100%;
}

.cost-to-state .cost-data th {
    width: 100%;
    background-color: var(--green3);
    text-align: left;
}

.cost-to-state .cost-data th:nth-child(1),
.cost-to-state .cost-data th:nth-child(3) {
    text-align: center;
    width: 20%;
}

.cost-to-state .cost-data th:nth-child(2) {
    padding: 0rem 0rem 0rem 1rem;
    text-align: start;
    width: 60%;
}

.cost-to-state .cost-data td:nth-child(1),
.cost-to-state .cost-data td:nth-child(3) {
    padding: 0rem 0rem 0rem 1rem;
    width: 20%;
    text-align: center;
    color: white;
}

.cost-to-state .cost-data td:nth-child(2) {
    padding: 0rem 0rem 0rem 1rem;
    text-align: start;
    width: 60%;
}

.cost-to-state .odd-row {
    background-color: var(--green3);
}

.cost-to-state .total-cost {
    text-align: end;
    color: white;
}