.dotted-line {
    min-height: 1vh;
    background: repeating-linear-gradient(to right,
            #88AA44,
            #88AA44 1%,
            transparent 1%,
            transparent 2%);
    margin: 1vh 0;
}