.dotted-line {
    height: 1vh;
    background: repeating-linear-gradient(to right,
            #88AA44,
            #88AA44 0.5vw,
            transparent 0.5vw,
            transparent 1vw);
    margin: 1vh 0;
}