.footer{
    top: 90%;
    height: 10%;
    padding-left: 3%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: var(--fs2);
    
    
}

.footer .button-panel{
    width: 50%;
    height: 100%;


    display: flex;
    align-items: center;
    justify-content: flex-start;

    text-transform: none;
    /* -webkit-text-stroke: 0px #9bd345; */
}

.footer .banner-panel{
    width: 50%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}