.footer{
    top: 90vh;
    height: 10vh;

    color: #9bd345;
    background-color: black; /* Neon Green */;
    -webkit-text-stroke: 1px #9bd345;
    padding-left: 40px;
    
    display: flex;
    align-items: center;
}

.dotted-line-footer{
}