.footer {
    min-height: 10vh;
    padding: 0.5rem 0rem 0rem 0rem;

    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: baseline;
    gap: 1%;

    font-size: var(--fs2);
}

.footer .button-panel {
    width: 59%;

    font-size: var(--fs3);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
    gap: 1rem;

    text-transform: none;
    /* -webkit-text-stroke: 0px #9bd345; */
}

.footer .banner-panel {
    width: 40%;

    display: flex;
    /* flex-flow: row-reverse; */
    justify-content: flex-end;


    animation-name: slideUp;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes slideUp {
    0% {
        transform: translateY(100%);
        /* Start below */
        opacity: 0;
    }

    10% {
        transform: translateY(0%);
        /* Move to normal position */
        opacity: 1;
    }

    90% {
        transform: translateY(0%);
        /* Stay in normal position */
        opacity: 1;
    }

    100% {
        transform: translateY(-100%);
        /* Exit from top */
        opacity: 0;
    }
}

.footer .banner-panel .footer-banner{
    /* flex: 1;   */
    /* Allow it to take remaining space */
    
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}