* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --green1: #a4e043;
    --green2: #324615;
    --green3: #27310d;
    
    /* for size greater than 640x480 px */
    --fs1: 1rem;
    --fs2: 0.9rem;
    --fs3: 0.8rem;
}


html,
body {
    min-height: 100vh;
    overflow-x: hidden;
    /* height: 100%; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: black;
    color: var(--green1);
    font-family: "Orbitron", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 3px;
    /* -webkit-text-stroke: 0.5px var(--green1); */
}


/* react router link color and devoration removed*/
a {
    color: inherit;
    /* Inherits the text color from the parent */
    text-decoration: none;
    /* Removes underline */
}

a:visited {
    color: inherit;
    /* Prevents purple color for visited links */
}

a:hover {
    color: lightgreen;
    /* Set hover color if needed */
}



/* orbitron-900 - latin */
@font-face {
    font-display: swap;
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 900;
    src: url('../assets/orbitron-v31-latin/orbitron-v31-latin-900.woff2') format('woff2');
}