* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --green1: #a4e043;
    --green2: #324615;
    --green3: #27310d;

    /* for size greater than 640x480 px */
    --fs1: 1rem;
    --fs2: 0.9rem;
    --fs3: 0.8rem;
}


html,
body {
    min-height: 100vh;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: black;
    color: var(--green1);
    font-family: "Orbitron", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 2.5rem;

    @media (width>1000px) {
        justify-content: center;
    }

}

::-webkit-scrollbar {
    width: 24px;
}

::-webkit-scrollbar-track {
    background-color: var(--green2);
    /* border:3px black solid; */
    border-left: 6px black solid;
    border-right: 6px black solid;
}

::-webkit-scrollbar-thumb {
    background-color: black;
    border: 9px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-button:single-button {
    height: 20px;
    width: 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

/* Up Arrow */
::-webkit-scrollbar-button:single-button:vertical:decrement {
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='10,28 20,12 30,28' fill='%23a4e043'/%3E%3C/svg%3E");
}

/* Down Arrow */
::-webkit-scrollbar-button:single-button:vertical:increment {
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='10,12 20,28 30,12' fill='%23a4e043'/%3E%3C/svg%3E");
}


/* react router link color and devoration removed*/
a {
    color: inherit;
    /* Inherits the text color from the parent */
    text-decoration: none;
    /* Removes underline */
}

a:visited {
    color: inherit;
    /* Prevents purple color for visited links */
}

/* orbitron-900 - latin */
@font-face {
    font-display: swap;
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 900;
    src: url('../assets/orbitron-v31-latin/orbitron-v31-latin-900.woff2') format('woff2');
}