.sheet {
    width: 70vw;
    min-width: 640px;
    max-width: 1200px;
    height: 100vh;
    min-height: 480px;
    max-height: 900px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
}

.stats {
    height: 30%;
    padding: 3% 0% 3% 0%;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: var(--fs2);

    background: repeating-linear-gradient(
        -45deg,            
        var(--green2) 0px,  
        var(--green2) 10px, 
        var(--green3) 10px,   
        var(--green3) 20px    
    );

    background-size: 112.87px;
    
    animation:moveStripes 2s linear infinite;
}
@keyframes moveStripes {
    from { background-position: 0 0; }
    to { background-position: 112.87px 0px; } 
}
.stats .stats-text{
    height: 33%;
    /* min-height: 40px; */
    padding: 0% 0% 0% 3%;

    display: flex;
    align-items: center;
}


.main-menu {
    height: 50%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;

    font-size: var(--fs2);
    /* border: white 2px solid; */
}

.main-menu .heading {
    height: 13%;
    padding: 0% 0% 0% 3%;

    display: flex;
    align-items: center;
}
.main-menu .link{
    height: 13%;
}
.main-menu .page {
    height: 100%;
    padding: 0% 0% 0% 3%;
    /* margin: 2% 0% 0% 0%; */


    display: flex;
    align-items: center;
    /* border: 1px white solid; */
}
.page:before{
    
    content: "";
    display: inline-block;
    width: 25px;  /* Adjusted size */
    height: 25px; /* Adjusted size */
    margin-right: 2%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 40 40'%3E%3Crect width='40' height='40' fill='%23a4e043'/%3E%3C/svg%3E");
    background-size: cover;
}
.page:hover::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 2%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 40 40'%3E%3Crect width='40' height='40' fill='%23a4e043'/%3E%3Ccircle cx='20' cy='20' r='12' fill='black'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
}
.page:hover{
    color: white;
    animation: pageHover 2s infinite step-start;
}
@keyframes pageHover {
    0%, 100% {background-color: var(--green3);}
    50% {background-color: var(--green2);}
}