.sheet {
    width: 70vw;
    min-width: 960px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    /* flex-flow: column nowrap; */
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    border: white 2px solid;
}

.stats {
    flex: 1;
    min-height: 30vh;
    padding: 5vh 0vh 3vh 0vh;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    background: repeating-linear-gradient(
        -45deg,            
        #293a12 0px,  
        #293a12 10px, 
        #3a4a21 10px,   
        #3a4a21 20px    
    );

    background-size: 112.87px;
    
    animation:moveStripes 2s linear infinite;
}
@keyframes moveStripes {
    from { background-position: 0 0; }
    to { background-position: 112.87px 0px; } 
}
.stats .stats-text{
    height: 6vh;
    min-height: 40px;
    padding: 0vh 0vh 0vh 5vh;

    display: flex;
    align-items: center;
}


.main-menu {
    height: 50vh;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    /* border: white 2px solid; */
}

.main-menu .heading {
    height: 6vh;
    padding: 0vh 0vh 0vh 5vh;

    display: flex;
    align-items: center;
}

.main-menu .page {
    height: 6vh;
    padding: 0vh 0vh 0vh 5vh;

    display: flex;
    align-items: center;
    /* border: 1px white solid; */
}



.page:hover {
    color: white;
    background-color: #3a4a21;
}