h1 {
    font-size: var(--fs1);
}

h2 {
    font-size: var(--fs2);
}

h3 {
    font-size: var(--fs3);
}

.pursuit_details {
    width: calc(100vw - 24px);
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;

    overflow-y: hidden;

    text-transform: uppercase;

    @media (width >=62.5rem) {
        width: 70vw;
    }

    @media (width>=62.5rem) and (height>=37.5rem) {
        height: 95vh;
        overflow-y: hidden;
    }
}

.top {
    padding: 0.25rem 0rem 0.25rem 0rem;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.top_text {
    padding: 0.25rem 0rem 0.25rem 1.5rem;
    opacity: 0;
}


.pursuitDetail_scrollable {
    width: calc(100vw - 24px);
    overflow-x: auto;

    @media (width>=62.5rem) and (height>=37.5rem) {
        width: 100%;
        height: 85vh;
        overflow-y: auto;
    }
}

.pursuitDetail_table {
    width: 100%;
    border-collapse: collapse;
}

.row_body {
    height: 2.5rem;
    opacity: 0;
}

.col_1 {
    padding: 0rem 0.5rem 0rem 1.5rem;
    display: flex;
    color: transparent;
}
.col_1::before{
    display: flex;
    content: "> ";
    align-items: center;
    padding: 0rem 0.5rem 0rem 0rem;
}

.col_2 {
    min-width: 15ch;
    padding: 0rem 0.5rem;
    text-align: end;
    color: transparent;
}

.row_body:nth-child(even) {
    background-color: var(--green3);
}

/* format classes */
.visible {
    opacity: 1;
    transition: opacity 100ms linear;
}

.visible_text {
    color: inherit;
    transition: color 100ms linear;
}

.white {
    color: white;
}